:root{
    --background-img:--#596D48;
    --input-border: #E5E7EB;
    --logo-font:  "Norse Bold"; 
}

*,
body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}
 @font-face {
    font-family: Nose-Bold, sans-serif;
    src: url(./fonts/Norse-Bold.otf);
 }
