:root{
    --background-imgClr:#596D48;
    --color-imgFont: white;
    --input-border: #E5E7EB;
    /* --logo-font: src=url(./fonts/Norse-Bold.otf); font-family: Norse-Bold, sans-serif;  */
}

*,
body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

@font-face {
    font-family: Norse-Bold, sans-serif;
    src: url(./fonts/Norse-Bold.otf);
 }

.main {
    display: flex;
    flex-direction: row;
    width: 100vw;
}

.image-logo {
    background-image: url(./images/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--color-imgFont);
    font-family: Norse-Bold, sans-serif;
    font-family:;
    font-size: 72px;
    display: flex;
    justify-content: center;
    width: 35vw;
    /* height: 100vh; */
    align-items: center;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.first {
    background-color: lightgreen;
    height: 33vh;
}

.second {
    background-color: lightcoral;
    height: 33vh;
}

.third {
    background-color: lightslategray;
    height: 33vh;
}